// colors
$color-1: #000000; // Black
$color-2: #ffffff; // White
$color-3: #333333; // Dark Grey
$color-4: #E8ECF1; // Light Grey
$color-5: #323232; // Med Grey

$primary-font: 'salomeregular';
$secondary-font: 'bornregular';


// various extras
$left-margin-s: 20px;
$left-margin-m: 45px;
$left-margin-l: 85px;
