/* --------------------------------

Main Components

-------------------------------- */

body {

	&::after, &::before {
		/* these are the 2 half blocks which cover the content once the animation is triggered */
		content: '';
		height: 50vh;
		width: 100%;
		position: fixed;
		left: 0;
		background-color: $color-3;
		z-index: 1;

		/* Force Hardware Acceleration */
		@include backface-visibility(hidden);
		@include transform(translateZ(0));

		@include transition(transform 0.4s 0.4s);
	}

	&::before {
		top: 0;
		@include transform(translateY(-100%));
	}

	&::after {
		bottom: 0;
		@include transform(translateY(100%));
	}

	&.page-is-changing::after, &.page-is-changing::before {
		@include transform(translateY(0));
		@include transition(transform 0.4s 0s);
	}
}

.cd-cover-layer {
	/* layer that covers the content when the animation is triggered */
	position: fixed;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	opacity: 0;
	visibility: hidden;
	background-color: $color-1;
	@include transition(opacity 0.4s 0.4s, visibility 0s 0.8s);

	.cd-about & {
		background-color: $color-2;
	}

	.page-is-changing & {
		opacity: 1;
		visibility: visible;
		@include transition(opacity 0.3s 0s, visibility 0s 0s);
	}

	@include MQ(M) {
		height: calc(100% - 40px);
		width: calc(100% - 40px);
	}
}

.cd-loading-bar {
	/* this is the loding bar - visible while switching from one page to the following one */
	position: fixed;
	z-index: 2;
	left: 50%;
    top: 50%;
	height: 2px;
	width: 90%;
	background-color: $color-1;
	visibility: hidden;
	@include transition(visibility 0s 0.4s, transform 0.4s 0s ease-in);

	/* Force Hardware Acceleration */
	@include backface-visibility(hidden);
	@include transform(translateZ(0));

	@include transform(translateX(-50%) translateY(-50%));

	.cd-about & {
		background-color: $color-2;

		&::before {
			background-color: $color-1;
		}
	}

	&::before {
		/* this is the progress bar inside the loading bar */
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $color-2;

		/* Force Hardware Acceleration */
		@include backface-visibility(hidden);
		@include transform(translateZ(0));

		@include transform(scaleX(0));
		@include transform-origin(left center);
	}

	.page-is-changing & {
		visibility: visible;
		@include transform(translateX(-50%) translateY(-50%) scaleX(.3));
		@include transition(visibility 0s 0.3s, transform 0.4s 0.4s);

		&::before {
			@include transform(scaleX(1));
			@include transition(transform 0.8s 0.8s ease-in);
		}
	}

	@include MQ(M) {
		width: calc(100% - 40px);
	}
}
